<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>

  <!-- Header  -->
  <!-- <div class="header">
    {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
  {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
  {% endif %}
{% endif %}
  </div> -->


  <main role="main">
    {{ content_for_layout }}
  </main>

  <div class="hero">
    <div class="hero__img">
      {{ 'header.jpg' | asset_url | img_tag: 'Header' }}
    </div>

    <div class="hero__logo">
      <p>ICNDY</p>
    </div>

    <div class="hero__menu">
      <div class="hero__menu-option"><a href="">Mens</a></div>
      <div class="hero__menu-option"> <a href="">Womens</a></div>
      <div class="hero__menu-option"><a href="">Brands</a></div>
      <div class="hero__menu-option">
          <a href="" style="color: #f84545;">Sale</a>
      </div>
      <div class="hero__menu-option"><a href="">News</a></div>
    </div>

    <div class="hero__info">
        <p>STÜSSY2014</p>
        <p>SHOP NOW</p>
    </div>

    <div class="hero__down">
      <p>v</p>
    </div>
  </div>

    <!-- Product Grid -->
    <div class="product__grid">
      <div class="gourmet product__grid-item">
        {{ 'gourmet.jpg' | asset_url | img_tag: 'Gourmet' }}
        <span class="symbol">{{ 'GOURMET SYMBOL.png' | asset_url | img_tag: 'Gourmet Symbol' }}</span>
        <p class="product__grid-item-description">SHOP GOURMET</p>
      </div>

       <div class="carhatt product__grid-item">
        {{ 'carhatt.jpg' | asset_url | img_tag: 'Carhatt' }}
        <span class="symbol">{{ 'carhatt_symbol.png' | asset_url | img_tag: 'carhatt_symbol' }}</span> 
        <p class="product__grid-item-description">SHOP CARHATT</p>
      </div>

      <div class="adidas product__grid-item">
        {{ 'adidas.jpg' | asset_url | img_tag: 'Adidas' }}
        {{ 'ADIDAS SYMBOL.png' | asset_url | img_tag: 'Adidas Symbol' }}
        <p class="product__grid-item-description">SHOP ADIDAS</p>
      </div>

      <div class="10deep product__grid-item">
        {{ '10Deep.jpg' | asset_url | img_tag: '10Deep' }}
        {{ '10DEEP SYMBOL.png' | asset_url | img_tag: '10Deep Symbol' }}
        <p class="product__grid-item-description">10DEEP SALE</p>
      </div>

      <div class="palace product__grid-item">
        {{ 'palace.jpg' | asset_url | img_tag: 'Palace' }}
        {{ 'PALACE SYMBOL.png' | asset_url | img_tag: 'Palace Symbol' }}
        <p class="product__grid-item-description">PALACE A/W 2014</p>
      </div>

      <div class="nike product__grid-item">
        {{ 'nike.jpg' | asset_url | img_tag: 'Nike' }}
        {{ 'NIKE SYMBOL.png' | asset_url | img_tag: 'Nike Symbol' }}
        <p class="product__grid-item-description">TECH PACK</p>
      </div>
      
    </div>

</body>
</html>
